.goal-item {
  margin: 1rem 0;
  background: #8b005d;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  color: white;
  padding: 1rem 2rem;
  /* cursor: pointer; */
}

.goal-item button {
  background-color: #fad0ec;
  padding: 8px;
  border: none;
  outline: none;
  font-size: 0.7rem;
  font-weight: 500;
  cursor: pointer;
}

.goal-item .loader {
  border: 4px solid #fad0ec;
  border-top: 4px solid transparent;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
